@import url('https://fonts.googleapis.com/css2?family=Lato&family=Rubik&display=swap');

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: 'rubik', 'sans-serif';
  /* font-family: 'lato', 'sans-serif'; */
  margin: 0;
  padding: 0;
}

ul, li, a {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
}

main {
  position: relative;
  height: 100vh;
  overflow: hidden;
}
main::before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(178,250,255);
  background: -webkit-linear-gradient(left,rgba(11, 161, 172, 0.7) 0%,rgba(25,4,229,0.7) 100%);
  background: -o-linear-gradient(left,rgba(11, 161, 172, 0.7) 0%,rgba(25,4,229,0.7) 100%);
  background: linear-gradient(to right,rgba(11, 161, 172, 0.7) 0%,rgba(25,4,229,0.7) 100%);
  /* background: -webkit-linear-gradient(left,rgba(159, 9, 170, 0.7) 0%,rgba(25,4,229,0.7) 100%);
  background: -o-linear-gradient(left,rgba(159, 9, 170, 0.7) 0%,rgba(25,4,229,0.7) 100%);
  background: linear-gradient(to top right,rgba(159, 9, 170, 0.7) 0%,rgba(25,4,229,0.7) 100%); */
  z-index: 99;
}
.background {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 0;
  /* background: url("./images/bg2.jpg"); */
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-position: top !important;
}
.card {
  max-width: 560px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  -o-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  width: 100%;
  z-index: 99;
  background-color: white;
  text-align: center;
  border-radius: 10px;
}
@media only screen and (min-width:768px) and (max-width:991px) {
  .card {
    max-width: 540px
  }
}
@media only screen and (min-width:576px) and (max-width:767px) {
  .card {
    max-width: 518px
  }
}
@media(max-width:575px) {
  .card {
    max-width: 90%
  }
}

.card-header {
  height: 170px;
  width: 100%;
  background-color: #2e54ec;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-position: top !important;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
@media(max-width:575px) {
  .card-header {
    height: 110px;
  }
}

.card-profile {
  margin-top: -85px;
}
.card-profile img {
  height: 170px;
  width: 170px;
  border-radius: 50%;
  border: 5px solid white;
}
@media(max-width:575px) {
  .card-profile {
  margin-top: -50px;
  }
  .card-profile img {
    height: 100px;
    width: 100px;
  }
}

.card-content {
  padding: 15px;
}
@media(max-width:575px) {
  .card-content {
    padding: 10px;
  }
}
.card-content-links {
  display: flex; 
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.card-content-links a {
  border-radius: 1em;
  padding: 10px 25px 10px 25px;
  color: rgb(230, 230, 230);
  background: -webkit-linear-gradient(left,rgba(11, 161, 172, 0.7) 0%,rgba(25,4,229,0.7) 100%);
  background: -o-linear-gradient(left,rgba(11, 161, 172, 0.7) 0%,rgba(25,4,229,0.7) 100%);
  background: linear-gradient(to top right,rgba(11, 161, 172, 0.7) 0%,rgba(25,4,229,0.7) 100%);
  /* background: -webkit-linear-gradient(left,rgba(159, 9, 170, 0.7) 0%,rgba(25,4,229,0.7) 100%);
  background: -o-linear-gradient(left,rgba(159, 9, 170, 0.7) 0%,rgba(25,4,229,0.7) 100%);
  background: linear-gradient(to top right,rgba(159, 9, 170, 0.7) 0%,rgba(25,4,229,0.7) 100%); */
  min-width: 125px;
  border: 1px solid white;
  -webkit-transition: all .3s ease-out 0s;
  -moz-transition: all .3s ease-out 0s;
  -ms-transition: all .3s ease-out 0s;
  -o-transition: all .3s ease-out 0s;
  transition: all .3s ease-out 0s;
}
.card-content-links a:hover {
  cursor: pointer;
  background-color: rgba(41, 41, 41, 1);
  color: rgb(230, 230, 230);
}

.card-links {
  padding-top: 10px;
  padding-bottom: 30px;
}
.card-links ul li {
  display: inline-block;
  margin: 10px;
}
.card-links ul li a {
  font-size: 27px;
  line-height: 60px;
  width: 60px;
  height: 60px;
  border-radius: 38px;
  border: 1px solid #000;
  color: #000;
  -webkit-transition: all .3s ease-out 0s;
  -moz-transition: all .3s ease-out 0s;
  -ms-transition: all .3s ease-out 0s;
  -o-transition: all .3s ease-out 0s;
  transition: all .3s ease-out 0s;
}
.card-links ul li a:hover {
  border-color: #2e54ec;
  color: #2e54ec;
}
@media(max-width:575px) {
  .card-links ul li a {
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 18px;
  }
}
