@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Heebo&family=Lora&display=swap');

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: 'heebo', 'sans-serif';
  margin: 0;
  padding: 0;
  color: rgba(41, 41, 41, 1);
}

ul, li, a {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
  color: inherit;
  font-weight: inherit;
}

nav {
  border-bottom: 1px solid rgb(230, 230, 230);
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1152px;
  margin: auto;
  padding: 2em;
}

@media only screen and (max-width:576px) {
  .nav {
    flex-direction: column;
    row-gap: 3em;
  }
}

header.blog-title {
  font-size: 27px;
  font-weight: 700;
}

.nav-links {
  list-style: none;;
}

.nav-links .active {
  color: rgba(41, 41, 41, 1);
  font-weight: 700;
}

.nav-links li {
  display: inline;
  padding: 1em;
}

.nav-links li a {
  color: rgb(117, 117, 117);
}
.nav-links li a:hover {
  color: rgba(41, 41, 41, 1);
  font-weight: 700;
}

.content-container {
  display: flex;
  gap: 2em;
  max-width: 1152px;
  margin: auto;
  padding: 2em;
}

@media only screen and (max-width:885px) {
  .content-container {
    flex-direction: column;
  }
}

.content-container aside {
  flex: 2;
}

.content-container section {
  flex: 6;
}

aside h3 {
  font-weight: 700;
  font-size: 21px;
  /* margin-top: 2em; */
  margin-top: 0;
  margin-bottom: 1em;
}

aside li {
  margin-top: 1em;
  font-size: 18px;
}

aside a {
  color: rgb(117, 117, 117);
}
aside a:hover {
  color: rgba(41, 41, 41, 1);
}

.post {
  font-size: 21px;
  border-bottom: 1px solid rgb(230, 230, 230);
  padding-bottom: 50px;
}
.post:last-of-type {
  border-color: transparent;
}

.post small.publish-info {
  font-size: 14px;
  color: rgb(117, 117, 117);
}
.post small.publish-info strong{
  font-weight: 700;
}

.post h2 {
  margin-top: 12px;
  font-size: 36px;
  color: #000;
  font-weight: 700;
}

.post .post-link {
  font-size: 24px;
  margin-left: 0.5em;
  text-decoration: none;
  color: rgb(117, 117, 117);
}
.post .post-link:hover {
  color: rgba(41, 41, 41, 1);
}

.post .post-content {
  letter-spacing: 1px;
  font-family: 'lora', 'sans-serif';
}

.post .post-actions {
  text-align: right;
}

.post .post-actions button {
  border-radius: 1em;
  padding: 10px 25px 10px 25px;
  background-color: rgb(230, 230, 230);
  border: 1px solid transparent;
  -webkit-transition: all .3s ease-out 0s;
  -moz-transition: all .3s ease-out 0s;
  -ms-transition: all .3s ease-out 0s;
  -o-transition: all .3s ease-out 0s;
  transition: all .3s ease-out 0s;
}
.post .post-actions button:hover {
  cursor: pointer;
  background-color: rgba(41, 41, 41, 1);
  color: rgb(230, 230, 230);
}

.portfolio {
  flex-direction: column;
}

.project {
  border: 1px solid rgb(230, 230, 230);
  border-radius: 10px;
  box-shadow: rgb(230, 230, 230) 0px 0px 10px 1px;
}

.project .project-content {
  display: flex;
  border-bottom: 1px solid rgb(230, 230, 230);
}

@media only screen and (max-width:991px) {
  .project .project-content {
    flex-direction: column;
  }
  .project .project-content img {
    border-radius: 0 !important;
  }
}

.project .project-content .project-description {
  flex: 4;
  padding: 1em;
}

.project .project-content .project-description h2 {
  font-size: 36px;
  color: #000;
}
.project .project-content .project-description div {
  letter-spacing: 1px;
  font-family: 'Roboto', 'sans-serif';
}

.project .project-content img {
  flex: 1;
  border-top-right-radius: 10px;
  height: 225px;
  width: 225px;
  max-width: 100%;
  align-self: center;
}
.project .project-content .project-description h2 {
  margin: 0;
}

.project .project-footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0.5em 1em;
}
@media only screen and (max-width:991px) {
  .project .project-footer {
    justify-content: space-evenly;
  }
}


.project .project-footer ul li {
  display: inline-flex;
}

.project .project-footer button {
  border-radius: 1em;
  padding: 5px 25px 5px 25px;
  background-color: rgb(230, 230, 230);
  border: 1px solid transparent;
  -webkit-transition: all .3s ease-out 0s;
  -moz-transition: all .3s ease-out 0s;
  -ms-transition: all .3s ease-out 0s;
  -o-transition: all .3s ease-out 0s;
  transition: all .3s ease-out 0s;
}
.project .project-footer button:hover {
  cursor: pointer;
  background-color: rgba(41, 41, 41, 1);
  color: rgb(230, 230, 230);
}