{% extends "base.html" %}

{% block title %}{{ homepage.name }} - Blog{% endblock %}
{% block name %}{{ homepage.name }}'s Blog{% endblock %}

{% block content %}
<main class="content-container">
  <aside>
      <!-- <form action="">
        <input type="text" placeholder="Procurar postagens...">
        <input type="submit" name="" value="Buscar" id="">
      </form> -->
      <h3>Postagens mais recentes</h3>
      <ul>
        {% for post in recent_posts %}
          <li>
            <a href="{% url 'post' post.slug %}">{{ post.title }}</a>
          </li>
        {% endfor %}
      </ul>
  </aside>
  <section>
    {% block section %}{% endblock %}
  </section>
</main>
{% endblock %}