{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ homepage.name }}</title>
  <link rel="icon" type="image/png" href="{% static 'images/avatar.png' %}" />
  <script src="https://kit.fontawesome.com/51a374e229.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="{% static 'css/index.css' %}">
</head>
<body>
  <main>
    <div class="background"
      {% if homepage.background_image %} style='background: url("{{ homepage.background_image.url }}")' {% endif %}
    ></div>
    <section class="card">
      <div class="card-header" 
        {% if homepage.cover_image %} style='background: url("{{ homepage.cover_image.url }}")' {% endif %}
      ></div>
      <div class="card-profile">
        <img 
        {% if homepage.profile_image %} 
        src="{{ homepage.profile_image.url }}"
        {% else %}
        src="{% static 'images/default.png' %}"
        {% endif %}
        alt="{{ homepage.name }}">
      </div>
      {% if homepage == null %}
      <div class="card-content">
        <h2>Seja bem vindo!</h2>
        <p>
          Configure sua homepage no painel administrativo
        </p>
      </div>
      {% else %}
        <div class="card-content">
          <h1>{{ homepage.name }}</h1>
          <h3>{{ homepage.subtitle }}</h3>
          <div class="card-content-links">
            {% if homepage.blog_button %}
              <a href="/blog">Blog</a>
            {% endif %}
            {% if homepage.portfolio_button %}
              <a href="/portfolio">Portfolio</a>
            {% endif %}
          </div>
          <p>{{ homepage.summary }}</p>
        </div>
        <div class="card-links">
          <ul class="links">
            {% for link in links %}
              <li>
                <a href="{{ link.url }}" class="fa {{ link.icon }}"></a>
              </li>
            {% endfor %}
          </ul>
        </div>
      {% endif %}
    </section>
  </main>
</body>
</html>