* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-weight: 400;
  font-style: normal;
}

body {
  font-family:  Helvetica, Arial;
  margin: 0;
  padding: 0;
  background: #f1f1f1;
}

ul, li, a {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
}

form.login {
  max-width: 320px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  -o-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  width: 100%;
  z-index: 99;
  text-align: center;
  border-radius: 10px;
}

form.login div {
  margin: 0.5em;
}

form.login label {
  font-weight: 700;
}

form.login input {
  width: 100%;
}

form.login button {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 1px solid green;
  font-size: 18px;
  -webkit-transition: all .3s ease-out 0s;
  -moz-transition: all .3s ease-out 0s;
  -ms-transition: all .3s ease-out 0s;
  -o-transition: all .3s ease-out 0s;
  transition: all .3s ease-out 0s;
}

form.login button:hover {
  background: green;
  color: white;
  cursor: pointer;
}

header {
  text-align: center;
  font-weight: 900;
}

main {
  display: flex;
  gap: 2em;
  max-width: 1152px;
  margin: auto;
  padding: 2em;
}

@media only screen and (max-width:885px) {
  main {
    flex-direction: column;
  }
}

main aside {
  flex: 2;
  padding: 1em;
}

main section {
  flex: 6;
  padding: 1em;
}

aside h1 {
  font-weight: 700;
  font-size: 21px;
  margin-top: 0;
  margin-bottom: 1em;
  border-bottom: 1px solid rgba(41, 41, 41, 1);
}

aside li {
  margin-top: 1em;
  font-size: 18px;
}

aside li:last-child a {
  color: red;
}
aside li:last-child a:hover {
  font-weight: 700;
}

aside a {
  color: rgb(117, 117, 117);
}
aside a.active {
  font-weight: 700;
  color: rgba(41, 41, 41, 1);
}
aside a:hover {
  color: rgba(41, 41, 41, 1);
}

section h1 {
  font-weight: 700;
  font-size: 21px;
  margin-top: 0;
  margin-bottom: 1em;
}

section table {
  width: 100%;
  margin-top: 1em;
}